@import url(./fonts//Poppins-Regular.ttf);

:root {
  --mobile-font-size: 5vmin;
  --font-size: 3vmin;
  --font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

html {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow:hidden;
  -webkit-overflow-scrolling: hidden;
  /* iOS velocity scrolling */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #34495e;
}

#game-board {
  background-color: #fff;
  display: grid;
  height: 80vmin;
  width: 80vmin;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-template-rows: repeat(var(--grid-size), 1fr);
}

.snake {
  background-color: var(--snake-color);
  border: 0.2vmin solid black;
  position: static;
  z-index: 1;
}

.food {
  background-color: var(--food-color);
  border: 0.2vmin solid black;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3vmin;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

#settings-show-btn {
  height: 5vmin;
  width: 5vmin;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}

#settings-show-btn:hover {
  cursor: pointer;
  transform: rotate(90deg);
}

.menu-section {
  display: flex;
  align-items: center;
  gap: 3vmin;
  color: hsl(240, 8%, 72%);
}

.menu-section > div {
  background-color: #fff;
  padding: 1vmin 3vmin;
}

#score,
#high-score {
  color: black;
}

#toggle-btn {
  background-color: white;
  border: 0;
  padding: 1vmin 3vmin;
  text-transform: capitalize;
  transition: 0.2s;
}

#toggle-btn:hover {
  cursor: pointer;
}

#toggle-btn:active {
  background-color: rgb(231, 231, 231);
}

#backdrop {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

#settings-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 5vmin;
  display: grid;
  gap: 3vmin;
  z-index: 3;
}

#settings-menu h2 {
  text-align: center;
}

#settings-menu .items {
  display: grid;
  gap: 3vmin;
}

#settings-menu .items .item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 3vmin;
}

.divider {
  background: rgba(0, 0, 0, 0.4);
  height: 1px;
}

#settings-menu .footer {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 3vmin;
}

#settings-close-btn {
  padding: 1vmin 3vmin;
  border: 1px solid;
  background-color: #fff;
}

#settings-close-btn:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#settings-close-btn:active {
  background-color: rgb(231, 231, 231);
}

#settings-update-btn {
  background-color: #34495e;
  border: none;
  color: white;
  padding: 1vmin 3vmin;
}

#settings-update-btn:hover {
  cursor: pointer;
}

/* for mobile */
@media all and (max-width: 500px) {
  * {
    font-size: var(--mobile-font-size);
  }
  #game-board {
    width: 90vmin;
    height: 90vmin;
  }
  #settings-menu {
    width: 90vmin;
  }
}

/* utility classes */
.hidden {
  display: none !important;
}
